openai-whisper
openai
streamlit
torch
moviepy
# ffmpeg
ffmpeg-python
setuptools-rust
tiktoken==0.3.3
# ffmpeg-python==0.2.0
datetime
pandas
pyperclip
opencv-python
mutagen
pydub
yt_dlp
python-dotenv
azure-ai-textanalytics
st-annotated-text
pandas
plotly-express
vaderSentiment
matplotlib
