openai-whisper
openai
streamlit
torch
moviepy
ffmpeg-python
setuptools-rust
tiktoken==0.3.3
datetime
pandas
pyperclip
opencv-python
mutagen
pydub
yt_dlp
python-dotenv
azure-ai-textanalytics
st-annotated-text
pandas
plotly-express
vaderSentiment
matplotlib
